
body, html {
  font-family: helvetica;
  font-size: 18px;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.adjust.center{
  display: flex;
  justify-content: center;
}
.container {
  width: 960px;
  display: flex;
  align-items: center;
}
.container img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem 0.5rem;
}
span.company.name {
  font-size: 1rem;
  color: white;
  padding: 0.66rem 0rem;
}
.main.banner {
  width: 100%;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.new.arrival {
  background-color: black;
  margin: 9rem 0rem 0rem 0rem;
  width: 20rem;
  padding: 3rem 3rem;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: 0.9rem;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 1rem;
  letter-spacing: -0.5px;
}

nav.menu {
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;

}
ul.menu {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li {
  display: inline-block;
  padding: 0.75rem 0rem;
}

li a {
  color: white;
  text-decoration: none;
}
/* products & business info*/
.adjust.space {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  border: 4px solid black;
}
.product img {
  max-width: 144px;
  height: 144px;
  padding: 2rem 2rem;
  margin: auto;
}
.product.glasses img {
  height: 66px;
}
.product span {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: 0.5rem 0rem;
  width: 100%;
}

.location, .hours {
  width: 35%;
}
.location span, .hours span {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}
.hours {
}
